.jumbotron{
    background-color: #E6E6E6;
    text-align: center;
}
h1{
    font-weight: bold;
}
.card-img-top{
    width: 200px;
    height: 200px;
}
/*button*/
.btn-design{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    border: 5px solid #F0F0F0;
    color: #F0F0F0;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.sm-btn {
    background: orange;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: black;
    padding: 5px;
    font-weight: bold;
}
.lg-btn{
    padding: 13px;
}
/*circle*/
.red-circle{
    background-color: #E6563B;
}
.orange-circle{
    background-color: #EB9D3A;
}
.green-circle{
    background-color: #7CB06C;
}
.blue-circle{
    background-color: #00ABA9;
}
.top-circle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*nav*/
.navbar-nav{
    display: flex;
    flex-direction: row;
}
.navbar-nav > li{
    margin: 10px;
    padding: 10px;
}
/*images*/
.sm-image{
    height: 50px;
    width: 50px;
    margin-right: 15px;
}
.logo-img{
    height: 105px;
    width: 105px;
}
.card-img-top{
    height: 250px;
    width: 300px;
}
.img-position{
    display: flex;
    flex-direction: row;
    margin: 5px;
    text-align: left;
}
.no-small{
    padding: 10px;
    /*margin: 10px;*/
}
.top-container{
    margin: 15px;
}
.bottom-container{
    margin-top: 10px;
}
/*extra small screen less than 576x*/
@media screen and (max-width:575px) {
    .hide-xs{
        display: none;
    }
    height: 250px;
    width: 90%;
}
}
/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px)and (max-width: 767px) {
    .hide-sm{
        display: none;
    }
    .card-img-top{
        height: 200px;
        width: 100%;
    }
    .top-container{
        border-bottom: solid lightgray;
    }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) and (max-width: 991px) {
    .top-container{
        border-bottom: solid lightgray;
    }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px)and (max-width: 1199px){
    .top-container{
        border-bottom: solid lightgray;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px){
    .top-container{
        border-bottom: solid lightgray;
    }
}